/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 414px;
  margin: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
  font-size: 12px;
}

p {
  font-family: STHeitiSC-Light;
  font-size: 16px;
  color: #000000;
  line-height: 26px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.nav a {
  font-size: 16px;
}

.intro-title {
  margin-top: 53px;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  font-weight: 400px;
  letter-spacing: 0;
}

.intro-list {
  display: flex;
  flex-direction: row;
  margin: 47px 284px 10px 9px;
}
h2 {
  font-size: 12px;
}

h3 {
  font-size: 12px;
  font-weight: normal;
}

p {
  font-size: 16px;
  color: #000000;
  line-height: 26px;
  margin-bottom: 56px;
}

img {
  margin-bottom: 28px;
}

.header a {
  text-align: center;
}

footer {
  margin-top: 16px;
  background-color: black;
  color: white;
  padding: 30px 296px 38px 7px;
}

.special-font {
  font-size: 10px;
}

/* ====================================
// base rules
// ==================================== */
